@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

p {
  margin: 1rem 0;
}

[ng-reflect-router-link] {
  cursor: pointer;
}

pre {
  padding-left: 1rem;
  border-left: 0.25rem solid rgba(37, 99, 235, 0.5);
  border-radius: 0.5rem;
  font-style: italic;
  overflow: hidden;
  font-family: inherit;
  font-size: inherit;
}

h2 {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.55rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.4rem;
}
