<app-header class="block sticky top-0 left-0 z-10"></app-header>
<main class="px-3 py-8 sm:px-6">
  <div class="flex justify-between container mx-auto">
    <section class="w-full lg:w-8/12">
      <router-outlet></router-outlet>
      <div class="max-w-4xl px-5 py-6 bg-white rounded-lg shadow-md lg:px-10">
        <img src="assets/coding-bolzplatzarena.png" alt="coding bolzplatzarena" class="mx-auto">
        <nav class="text-center">
          <h3 class="pt-4 pb-4 font-bold">Interessante Projekte</h3>
          <a href="https://www.pendlergeschichten.de" target="_blank" rel="noopener" class="block py-2">https://www.pendlergeschichten.de</a>
          <a href="https://www.fruehstueck-karlsruhe.de" target="_blank" rel="noopener" class="block py-2">https://www.fruehstueck-karlsruhe.de</a>
          <a href="https://www.beratung-und-mediation-karlsruhe.de" target="_blank" rel="noopener" class="block py-2">https://www.beratung-und-mediation-karlsruhe.de</a>
        </nav>
      </div>
    </section>
    <section class="w-4/12 pl-8 hidden lg:block">
      <app-navigation></app-navigation>
      <app-tag-cloud class="block pt-8"></app-tag-cloud>
    </section>
  </div>
</main>
<div *ngIf="versionUpdate | async"
     class="sticky flex justify-between items-center bottom-16 m-4 bg-blue-600 rounded-lg text-white px-4 py-2">
  <div>
    Es gibt eine neue Version der Bolzplatzarena!
  </div>
  <div>
    <button class="bg-white text-black rounded-lg px-2 py-1 ml-4" (click)="versionUpdate.next(false)">So what</button>
    <button class="bg-white text-black rounded-lg px-2 py-1 ml-4" (click)="reload()">Aktualisieren</button>
  </div>
</div>
<footer class="block sticky bottom-0 left-0 p-4 border-t border-gray-300"></footer>
