$bodyBackground: #FBFBFB;
$fontColor: #3E3F42;
$border-color: #EAEDF3;
$tagColor: #38B249;

body {
  background: $bodyBackground;
  font: 16px sans-serif;
  color: $fontColor;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
   margin: .5rem 0;
 }

h3 {
  margin-top: 0;
}

header {
  height: 70px;
  border-bottom: 1px solid $border-color;

  .container {
    display: flex;
    max-width: 1170px;
    padding: 15px;
    margin: auto;
    align-content: space-between;
    
    h4 {
      flex: 1;
      margin: 0;
      line-height: 40px;
    }

    .search {
      svg {
        width: 20px;
        height: 20px;
        margin: 10px 5px;
        float: left;
      }
      
      input {
        width: 120px;
        height: 40px;
        padding: 0 10px;
        border: none;
        background: none;
        
        font-size: .8rem;
        line-height: 40px;
        
      }
    }
  }
}

footer {
  height: 70px;
  border-top: 1px solid $border-color;

  .container {
    max-width: 1170px;
    padding: 15px;
    margin: auto;
  }
}

main {
  max-width: 1170px;
  padding: 15px;
  margin: auto;
}

.archive {
  display: flex;
  flex-direction: row-reverse;
 
  .navigation {
    width: 350px;
    margin: 20px 0 0 20px;
    
    .box {
      border: 1px solid $border-color;
      border-radius: 4px;
      margin: 0 0 20px 0;
      
      background: #fff;
    }
    
    h3 {
      display: block;
      height: 60px;
      padding: 0 15px;
      
      line-height: 65px;
    }
    
    a {
      display: block;
      height: 60px;
      border-top: 1px solid $border-color;
      
      line-height: 60px;
    }
  }

  .posts {
    flex: 1;
  }
}

.post {
  display: flex;
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 20px;
  margin: 20px 0;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
  background: #FFFFFF;
  
  .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    flex-grow: 0;
    margin: 0 auto;

    font-size: .8rem;
    line-height: 60px;
    text-align: center;

    &.violet {
      background-color: #6977FF;
      color: white;
    }

    svg {
      margin-top: 15px;
      height: 30px;
      width: 30px;
    }
  }

  .avatar {
    height: 60px;
    width: 60px;
    border: 2px solid #E6492D;
    border-radius: 50%;
    flex-grow: 0;    
    overflow: hidden;
    margin: 0 auto;
    
    img {
      max-width: 100%;
    }
  }

  .content {
    flex: 1;
    padding: 0 15px;

    p {
      color: #ADADAD;
      font-size: .8rem;
    }
  }

  .tags {
    a {
      padding: 0 7px;
      border: 1px solid $tagColor;
      border-radius: 4px;
      font-size: .8rem;
      color: $tagColor;
      line-height: 18px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 500px) {
 main {
   .post {
     display: block;
     text-align: center;
     
     .content {
       width: 100%;
       padding: 15px 0;
     }
   }
 }
}

@media only screen and (max-width: 1023px) {
  .archive {
    .navigation {
      display: none;
    }
  }
}

@media only screen and (min-width: 0) {
  
}

@media only screen and (min-width: 1024px) {
  
}

@media only screen and (min-width: 1200px) {

}