@inject IApi api
@{
    var sitemap = await api.Sites.GetSitemapAsync();
    if (!sitemap.Any())
    {
        return;
    }
}
<div class="content-navigation box">
    <h3>Navigation</h3>
    <div class="inner">
       @foreach (var item in sitemap)
       {
           @Html.DisplayFor(_ => item)
       }
    </div>
</div>