@using Piranha
@inject IApi api
@{
    var sitemap = await api.Sites.GetSitemapAsync();
    var footer = sitemap.Find(x => x.Title == "Footer");
    var links = footer?.Items;
    if (links == null)
    {
        return;
    }
}

<nav>
    @foreach (var item in links)
    {
        @Html.DisplayFor(_ => item)
    }
</nav>