@using Bolzplatzarena.Blog.Helper
@using Bolzplatzarena.Blog.Models
@inject IViewHelper viewHelper;
<header>
    <div class="container">
        <h4><a href="/">Bolzplatzarena</a></h4>
        @await Html.PartialAsync("_Search")
        @await Html.PartialAsync("_Navigation")
    </div>
</header>