@inject IViewHelper ViewHelper;
<header>
    <div class="container">
        @await Html.PartialAsync("_Navigation")
        <h4><a href="/">Bolzplatzarena</a></h4>
        @await Html.PartialAsync("_Search")
    </div>
</header>