@model Piranha.Models.PageBase
<!doctype html>
<html lang="de">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<inline-style href="css/styles.css"></inline-style>
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	@await Html.PartialAsync("_Meta", Model)
</head>
<body>
	@await Html.PartialAsync("_Header")
	<main>
		@RenderBody()
	</main>
	@await Html.PartialAsync("_Footer")
	<inline-script href="js/scripts.js"></inline-script>
</body>
</html>