<ng-container *ngIf="data$ | async as data else loading">
  <ng-container *ngIf="data.page as page else notFound">
    <ng-container *ngIf="page.type !== PageType.Archive else archive">
      <div class="max-w-4xl px-5 py-6 mb-4 bg-white rounded-lg shadow-md lg:px-10">
        <h1 class="text-2xl">{{ page.title }}</h1>
        <app-block *ngFor="let block of page.blocks" [block]="block"></app-block>
      </div>
      <app-feedback *ngIf="page.type === PageType.Post" [page]="page"></app-feedback>
      <app-suggestion *ngIf="page.type === PageType.Post" [page]="page"></app-suggestion>
    </ng-container>
    <ng-template #archive>
      <h1 class="mb-4 text-xl font-bold">{{ page.title }}</h1>
      <app-archive [page]="page"></app-archive>
    </ng-template>
  </ng-container>

  <ng-template #notFound>
    <div class="max-w-4xl mb-4 px-5 py-6 bg-white rounded-lg shadow-md lg:px-10">
      <h1 class="text-2xl">404 - Ist da etwas verschwunden?</h1>
      <img src="assets/not-found-bolzplatzarena.png" alt="Hier gibt es nichts zu sehen" class="mx-auto my-4">
      <p>Wir haben uns wirklich bemüht, aber scheinbar haben wir vergessen eine Seite hochzuladen oder das Internet war
        leider schon alle.</p>
      <p>Am Besten ist es, wenn du es erneut probierst und einen der Links in der Navigation benutzt.</p>
      <p>Wenn es dann leider immer noch nicht funktioniert, habe ich es einfach verbockt und du könntest meinen Tag
        retten, indem du mir sagst, wie du den Fehler produziert hast. So kann ich den Fehler schnellstmöglich
        korrigieren, so dass du möglichst der/ die Einzige bleibst mit dieser durchaus negativen Erfahrung.</p>
    </div>
  </ng-template>
</ng-container>

<ng-template #loading>
  <div class="border border-light-blue-300 shadow rounded-md p-4 max-w-4xl w-full mb-4">
    <div class="animate-pulse flex space-x-4">
      <div class="rounded-full bg-blue-400 h-12 w-12"></div>
      <div class="flex-1 space-y-4 py-1">
        <span>Daten werden geladen</span>
        <div class="h-4 bg-blue-400 rounded w-3/4"></div>
        <div class="space-y-2">
          <div class="h-4 bg-blue-400 rounded"></div>
          <div class="h-4 bg-blue-400 rounded w-5/6"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
