<app-section-header title="Kommentare"></app-section-header>
<div class="p-3 mb-4 bg-white rounded-lg shadow-md">
  @if (comments$ | async;as comments) {
    @if (comments.length) {
      <ul>
        @for (comment of comments;track comment) {
          <li class="mt-4">
            <strong>
              {{ comment.author }} schrieb <small>({{ comment.created | date : 'dd.MMM yyyy HH:mm' }})</small>:
            </strong>
            <p style="white-space: break-spaces">{{ comment.body }}</p>
          </li>
        }
      </ul>
    } @else {
      <p>Noch keine Kommentare vorhanden.</p>
    }
  }
</div>
<app-section-header title="Feedback"></app-section-header>
<div class="p-3 mb-4 bg-white rounded-lg shadow-md">
  <p>Fehler? Fragen? Hinweise?<br>Melde Dich gern bei mir!</p>
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="mb-3 space-y-2 w-full text-xs">
      <label class="font-semibold text-gray-600 py-2" for="name">Dein Name <abbr title="Pflichfeld">*</abbr></label>
      <input
          class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4"
          formControlName="name"
          id="name"
          name="name"
          placeholder="Dein Name"
          required="required"
          type="text">
    </div>
    <div class="mb-3 space-y-2 w-full text-xs">
      <label class="font-semibold text-gray-600 py-2"
             for="comment">Dein Kommentar <abbr title="Pflichfeld">*</abbr></label>
      <textarea
          class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-32 p-4"
          formControlName="comment"
          id="comment"
          name="name"
          placeholder="Dein Kommentar"
          required="required"
          type="text"></textarea>
    </div>
    <button [class.cursor-not-allowed]="!form.valid"
            [class.opacity-50]="!form.valid"
            [disabled]="!form.valid"
            class="bg-blue-500 text-white font-bold py-2 px-4 rounded"
            type="submit">Feedback abgeben
    </button>
    @if (state$ | async;as state) {
      @if (state === FormState.Faulty) {
        <div class="mb-3 space-y-2 w-full text-xs text-red-600">
          <p>Der Kommentar konnte leider nicht angelegt werden. Versuche es bitte nochmals.</p>
        </div>
      }
      @if (state === FormState.Sent) {
        <div class="mb-3 space-y-2 w-full text-xs">
          <p>Danke für deinen Kommentar. Dieser wird geprüft und schnellstens freigegeben.</p>
        </div>
      }
    }
  </form>
</div>
