@model Bolzplatzarena.Blog.Models.Post
<div class="post">
    <div class="icon category violet">
       @Model.Category.Title
    </div>
    <div class="content">
        <h3>@Model.Title</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam e</p>
        <p>Veröffentlich: 01.01.2020 18:19, kategorie: ASP.NET</p>
    </div>
    <div class="avatar">
        <img src="/images/author_thomas_renger.jpg" alt="Autor von: @Model.Category.Title"/>
    </div>
</div>