<header class="bg-white px-3 py-4 shadow md:px-6">
  <div class="flex flex-col max-w-[64rem] mx-auto lg:flex-row lg:items-center lg:justify-between">
    <div class="flex justify-between items-center">
      <div>
        <a routerLink="/" class="text-gray-800 text-xl font-bold md:text-2xl">Bolzplatzarena</a>
        <ng-container *ngIf="title()"> - <h1 class="inline">{{ title() }}</h1></ng-container>
      </div>
      <div>
        <button type="button"
                class="block text-gray-800 hover:text-gray-600 focus:text-gray-600 focus:outline-none lg:hidden"
                name="Öffne / Schließe die Navigation"
                aria-label="Öffne / Schließe die Navigation"
                (click)="toggleNavigation()">
          <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
            <path
                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
            </path>
          </svg>
        </button>
      </div>
    </div>
    <div class="lg:flex flex-col md:flex-row md:-mx-4 hidden">
      <a routerLink="/" class="my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0">Startseite</a>
      <a routerLink="/suche" class="my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0">Suche</a>
      <a routerLink="/impressum" class="my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0">Impressum</a>
    </div>
  </div>
</header>

<app-navigation *ngIf="navigationOpen()" [header]="true" class="absolute w-screen h-5/6 top-16 p-2"></app-navigation>
