@using Bolzplatzarena.Blog.Models
@model Bolzplatzarena.Blog.Models.ArchivePage
@{
    ViewBag.Title = Model.Title;
}

@if (Model.NavigationTitle != "Startseite")
{
    <h1>@Model.Title</h1>   
}

<div class="archive">
    @await Html.PartialAsync("_ArchiveNavigation")
    <div class="posts">
    @foreach (var post in Model.Archive.Posts)
    {
        @Html.DisplayFor(_ => post, "Post")
    }
    </div>
</div>
@Html.DisplayFor(m => m.Blocks)
