@using Bolzplatzarena.Blog.Models
@model Bolzplatzarena.Blog.Models.ArchivePage
@{
    ViewBag.Title = Model.Title;
}
<main>
    @if (Model.NavigationTitle != "Startseite")
    {
        <h1>@Model.Title</h1>   
    }
    
    @foreach (var post in Model.Archive.Posts)
    {
        @Html.DisplayFor(_ => post, "Post")
    }
    
    @Html.DisplayFor(m => m.Blocks)
</main>