@model StandardPage
@{
    ViewBag.Title = Model.Title;
}
<div class="page">
    <div class="navigation">
        @await Html.PartialAsync("_ContentNavigation")
    </div>
    <div class="content">
        @if (Model.NavigationTitle != "Startseite")
        {
            <h1>@Model.Title</h1>
        }
        @Html.DisplayFor(m => m.Blocks)
    </div>
</div>