@model ArchivePage
<div class="navigation">
    <div class="categories box">
      <h3>Kategorien</h3>
      @foreach (var category in Model.Categories)
      {
          <a href="/blog/category/@category.Slug" title="@category.Title">
              @await Html.PartialAsync("_Icon", category) @category.Title
          </a>
      }
    </div>
    <div class="tags box">
        <h3>Tags</h3>
        <div class="inner">
            @foreach (var tag in Model.Tags)
            {
                <a href="/blog/tag/@tag.Slug" title="@tag.Title">@tag.Title</a>
            }
        </div>
    </div>
    @await Html.PartialAsync("_ContentNavigation")
</div>