<div class="px-3 md:px-0">
  <input (ngModelChange)="search($event)"
         [ngModel]="searchString"
         class="form-control w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
         placeholder="Suche"
         type="text">
</div>
<div class="mt-4 md:p-0 p-4">
  @for (post of search$ | async;track post) {
    <app-teaser [teaser]="post" class="sm:mb-6 block"></app-teaser>
  }
</div>
